
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid ">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to 'Home', root_path, class: 'nav-link active', aria: {current: "page"}%>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">       
        <li class="nav-item " >
          <div class="dropdown">
            <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>        
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" data-method="delete" href="/users/sign_out">Sair</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav><br>

