<%= render 'navbar'%><br>

<div class="panel panel-primary">
  <div class="panel-heading"><h3>Cadastro de novo livro</h3></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>




